# Archivos de compilación
/build/

# Dependencias
/node_modules/

# Archivos temporales
*.log
*.tmp

# Archivos de configuración locales
.env

# Archivos de sistema operativo
.DS_Store
Thumbs.db
#funcionalidad 1
#funcionalidad 2
#funcionalidad 3